@model webapp.Models.FileUploadDetails

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header modal-primary">
            <button id="btnclose" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 style="text-align:center"> Create</h4>
        </div>
        <div style="margin-left:10px;margin-right:10px;">
            @using (Html.BeginForm("Create", "FileUpload", FormMethod.Post, new
            {
                enctype = "multipart/form-data"
            }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.FileName)
                    @Html.TextBoxFor(model => model.FileName, null, new { id = "txtName", @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.FileName, null, new { @style = "Color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SupName)
                    @Html.DropDownListFor(model => model.SupID, new SelectList(Model.SupplierList, "SupID", "SupName"), "Select",
new
{
    @id = "OrdID",
    @class = "dropdown form-control"
})
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Rate)
                    @Html.TextBoxFor(m => m.Rate,
                      new { @type = "number", @class = "form-control", @min = "0" }) 
                    @*@Html.ValidationMessageFor(model => model.Rate, null, new { @style = "Color:red" })*@
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EntryDate)
                    @Html.TextBoxFor(model => model.EntryDate, null, new { @id = "EntryDate", @class = "form-control", @type = "date", required = "required" })
                    @Html.ValidationMessageFor(model => model.EntryDate, null, new { @style = "color:red" })
                </div>

                <div>
                    @Html.LabelFor(model => model.Files)
                    @Html.TextBoxFor(model => model.Files, "", new { @type = "file", @class = "form-control", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.Files, null, new { @style = "Color:red" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Comments)
                    @Html.TextAreaFor(model => model.Comments, 3, 1, new { id = "txtcomments", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Comments, null, new { @style = "Color:red" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            }
        </div>
    </div>
</div>
